In [1]:
import numpy as np
import pandas as pd

import io
import pickle

In [20]:
matches = pd.read_csv('../matches.csv')
matches = matches.drop(columns=['Unnamed: 0', '0'], axis=1)

In [21]:
matches.head()

,1,2,3,4,5,6,7,8,9,10,...,81,82,83,84,85,86,87,88,89,90
0,1,1314,7.31,BOOM Esports,Fnatic,TIMS,Jackky,skem,Yopaj,Fbz,...,-1.62,-0.20,-2.07,0.04,-1.67,-1.70,-0.63,-0.46,-0.02,-4.09
1,1,2009,7.31,BOOM Esports,Fnatic,skem,Yopaj,TIMS,Fbz,Jackky,...,-1.10,0.63,-1.14,-3.76,-0.16,-0.40,-1.97,0.70,-1.20,0.56
2,1,2041,7.31,BOOM Esports,Fnatic,Armel,Raven^,DJ,Jaunuel,jabz,...,0.71,0.39,-0.31,1.51,0.39,2.77,-0.26,0.26,-0.79,1.18
3,0,3120,7.31,BOOM Esports,T1,Xepher,BossKu^,Whitemon,Gabbi,Karl,...,1.95,0.60,0.98,0.33,-2.09,-0.85,0.87,-1.14,-3.73,1.55
4,0,2643,7.31,BOOM Esports,T1,Xepher,Whitemon,Gabbi,BossKu^,Karl,...,-1.08,-0.31,-1.85,-0.20,-2.50,-0.20,-2.54,0.39,0.73,-0.49

In [35]:
matches.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
       '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49',
       '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61',
       '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73',
       '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85',
       '86', '87', '88', '89', '90'],
      dtype='object')

In [33]:
test_row = matches.iloc[[0]]

In [34]:
with open("model.pkl", "rb") as file:
    model = pickle.load(file)
    
result = model.predict(test_row)        
print(result)

array([[0.6475283]], dtype=float32)

In [19]:
with open("row.txt", "r") as file:
    data = file.readline().strip()

df = pd.read_csv(io.StringIO(data), header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,1433,396604.2,1,1314,7.31,BOOM Esports,Fnatic,TIMS,Jackky,skem,...,-1.62,-0.2,-2.07,0.04,-1.67,-1.7,-0.63,-0.46,-0.02,-4.09

In [15]:
with open("model.pkl", "rb") as file:
    model = pickle.load(file)

with open("row.txt", "r") as file:
    data = file.readline().strip()

df = pd.read_csv(io.StringIO(data), header=None)
df = df.drop(df.columns[0], axis=1)
df = df.drop(df.columns[1], axis=1)
# df = df.drop(df.columns[0], axis=1)
# print(df[0])

new_idxs = {pred_idx: new_idx+1 for new_idx, pred_idx in enumerate(df.columns)}
df = df.rename(columns=new_idxs)


print(df.head())
print(df.columns)
result = model.predict(df)        
print(result)

         1     2     3             4       5     6       7     8      9    10  \
0  396604.2  1314  7.31  BOOM Esports  Fnatic  TIMS  Jackky  skem  Yopaj  Fbz

   ...    81   82    83    84    85   86    87    88    89    90
0  ... -1.62 -0.2 -2.07  0.04 -1.67 -1.7 -0.63 -0.46 -0.02 -4.09

[1 rows x 90 columns]
Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90],
           dtype='int64')

KeyError: "None of [Index(['26', '37', '42', '48', '18', '81', '35', '55', '77', '88', '12', '43',\n       '20', '32', '38', '23', '14', '56', '70', '75', '36', '79', '27', '87',\n       '29', '3', '28', '59', '62', '41', '13', '47', '45', '68', '66', '52',\n       '54', '51', '63', '9', '74', '60', '78', '83', '16', '49', '11', '30',\n       '61', '84', '5', '57', '4', '72', '53', '21', '86', '46', '6', '39',\n       '73', '7', '71', '40', '80', '67', '8', '69', '10', '50', '64', '76',\n       '15', '33', '44', '34', '90', '85', '89', '31', '24', '19', '22', '17',\n       '65', '2', '25', '82', '58'],\n      dtype='object')] are in the [columns]"